<mdb-card style="
    background-image: url('../../../../assets/images/servicios/auditoria.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  ">
    <div class="text-muted text-center py-auto px-4 my-auto">
        <div>
            <h1 class="card-title h1-responsive pt-5 mb-5 mt-5 pb-5 font-bold">
                <strong>AUDITORÍA EXTERNA E INTERNA</strong>
            </h1>
        </div>
    </div>
</mdb-card>

<div class="container-xl p-5 col-sm-8">
    <p>
        Nuestro socio de auditoría externa con opinión de auditor Independiente regulado por la Superintendencia de Compañías, ha identificado que el enfoque de una auditoría integral ha evolucionado significativamente en los últimos años, por lo cual nuestros
        servicios son realizados bajo Normas Internacionales de Auditoría (NIA). Nuestros procedimientos de auditoría se desarrollan en tres fases:
    </p>

    <img src="../../../../assets/images/servicios/audFlujo.png" class="img-fluid rounded mx-auto d-block py-3" alt=" 1 ">

    <p>
        Nuestros procedimientos de auditoría son diseñados de acuerdo a las NIA vigentes, y nuestra experiencia profesional en auditoría.
    </p>
</div>