<mdb-card style=" background-image: url('../../../../assets/images/servicios/contable.jpg'); background-size: cover; background-repeat: no-repeat;">
    <div class="mask rgba-black-strong flex-center py-auto px-4 my-auto">
        <div>
            <h1 class="card-title white-text h1-responsive pt-5 mb-5 mt-5 pb-5 font-bold">
                <strong>CONSULTORÍA CONTABLE</strong>
            </h1>
        </div>
    </div>
</mdb-card>

<div class="container-xl p-5 col-sm-8">
    <p>
        La información financiera se expresa mediante:
    </p>

    <div class="row col-sm-12">
        <ol>
            <li>
                Estado de Situación Financiera.
            </li>
            <li>
                Estado de Resultado Integral.
            </li>
            <li>
                Estado de Cambios en el Patrimonio.
            </li>
            <li>
                Estado de Flujos de Efectivo.
            </li>
            <li>
                Notas Explicativas; preparada en base a las Normas Internacionales de Información Financiera (NIIF).
            </li>
        </ol>
    </div>

    <br/>

    <p>
        Las empresas necesitan para la toma de decisiones oportuna, información financiera de calidad, y esto debe generarse como mínimo al cierre de cada mes, o de acuerdo a las necesidades de la Administración. Parte de nuestros servicios profesionales se detallan
        a continuación, sin embargo, si el negocio necesita algún servicio diferente, lo podemos diseñar en base a sus necesidades.
    </p>


    <li class="pb-2">
        <b class="font-weight-bold">Elaborar manual de políticas contables:</b> Se debe elaborar por requerimiento de la Superintendencia de Compañías, Valores y Seguros (confirmar con su auditor), y por procedimiento de control interno.
    </li>
    <li class="pb-2">
        <b class="font-weight-bold">Supervisión externa contable:</b> Brindamos nuestra experiencia para que las compañías puedan recibir información financiera de calidad, cumplimiento con las NIIF y demás normativas vigentes.
    </li>
    <li class="pb-2">
        <b class="font-weight-bold">Toma física de activos (inventarios o propiedades):</b> los procedimientos de toma física de activos, deben contar con profesionales de confianza, para validar la existencia y estado físico.
    </li>
    <li class="pb-2">
        <b class="font-weight-bold">Manejo externo contable:</b> brindamos nuestra experiencia para preparar la información financiera de las empresas con calidad, cumpliendo los parámetros de las NIIF y demás normativas vigentes.
    </li>



</div>