<mdb-card style=" background-image: url('../../../assets/images/default/clientes.jpg'); background-size: cover; background-repeat: no-repeat;">
    <div class="mask rgba-black-strong flex-center py-auto px-4 my-auto">
        <div>
            <h1 class="card-title white-text h1-responsive pt-5 mb-5 mt-5 pb-5 font-bold">
                <strong>Contruyendo vinculos - Experiencias</strong>
            </h1>
        </div>
    </div>
</mdb-card>

<div class="container-xl p-4">
    <div>
        <p class="text-justify">
            Dandelug Consultores & Asociados S.A., mantiene como filosofía entregar a sus clientes un servicio de calidad, y para llegar a cumplirlo es necesario entenderlos y comprender sus objetivos. Nos tomaremos el tiempo para construir la relación correcta con
            el fin de asesorarlos de forma efectiva. El eje principal de nuestra relación es la comunicación perfecta. Parte de la experiencia adquirida por nuestro equipo de profesionales, se encuentran compañías de distintas áreas como: capacitación,
            consultorías y otros servicios relacionados.
        </p>
        <br/>

        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-md-4 m-auto pb-2 flex-center">
                    <img src="../../../assets/images/clientes/diosmar.jpg" class="img-fluid">
                </div>
                <div class="col-md-4 m-auto pb-2 flex-center">
                    <img src="../../../assets/images/clientes/biosuper.jpg" class="img-fluid">
                </div>
                <div class="col-md-4 m-auto pb-2 flex-center">
                    <img src="../../../assets/images/clientes/biofeeder.jpg" class="img-fluid">
                </div>
                <div class="col-md-4 m-auto pb-2 flex-center">
                    <img src="../../../assets/images/clientes/asec.jpg" class="img-fluid">
                </div>
                <div class="col-md-4 m-auto pb-2 flex-center">
                    <img src="../../../assets/images/clientes/ecuadelec.jpg" class="img-fluid">
                </div>
                <div class="col-md-4 m-auto pb-2 flex-center">
                    <img src="../../../assets/images/clientes/energycontrol.jpg" class="img-fluid">
                </div>
            </div>
        </div>

        <br/><br/>
    </div>
</div>