<footer class="page-footer font-small unique-color-dark">
    <div style="background-color: #6351ce">
        <div class="container">
            <!-- Grid row-->
            <div class="row py-4 d-flex align-items-center">
                <!-- Grid column -->
                <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                    <h6 class="mb-0">¡Encuentranos en nuestras redes sociales!</h6>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-6 col-lg-7 text-center text-md-right">
                    <!-- Facebook -->
                    <a class="fb-ic">
                        <i class="fab fa-facebook-f white-text mr-4"> </i>
                    </a>
                    <!-- Twitter -->
                    <a class="tw-ic">
                        <i class="fab fa-twitter white-text mr-4"> </i>
                    </a>
                    <!-- Google +-->
                    <a class="gplus-ic" style="display: none;">
                        <i class="fab fa-google-plus-g white-text mr-4"> </i>
                    </a>
                    <!--Linkedin -->
                    <a class="li-ic">
                        <i class="fab fa-linkedin-in white-text mr-4"> </i>
                    </a>
                    <!--Instagram-->
                    <a class="ins-ic">
                        <i class="fab fa-instagram white-text"> </i>
                    </a>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row-->
        </div>
    </div>

    <!-- Footer Links -->
    <div class="container text-center text-md-left mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-4 mx-auto mb-4 p-0">
                <!-- Content -->
                <h6 class="text-uppercase font-weight-bold">DANDELUG CONSULTORES</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0mx-0 d-inline-block mx-auto" style="width: 60px" />
                <p>
                    Somos una firma consultora orientada a brindar sus servicios en el asesoramiento a empresas en las áreas de contabilidad – NIIF, impuestos, finanzas corporativas, auditorías internas y externas, servicios legales societarios y capacitaciones de desarrollo
                    profesional, entre otros.
                </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4 p-0">
                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold">SERVICIOS</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px" />
                <p>
                    <a [routerLink]="['servicios','consContable']">Consultoría contable</a>
                </p>
                <p>
                    <a [routerLink]="['servicios','consTributaria']">Consultoría tributaria</a>
                </p>
                <p>
                    <a [routerLink]="['servicios','reinCostos']">Reingeniería de costos de producción</a>
                </p>
                <p>
                    <a [routerLink]="['servicios','audiExtInt']">Auditoría externa e interna</a>
                </p>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4 p-0">
                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold invisible">SERVICIOS</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto invisible" style="width: 60px" />
                <p>
                    <a [routerLink]="['servicios','evalFinancieras']">Evaluaciones financieras</a>
                </p>
                <p>
                    <a [routerLink]="['servicios','lavaActivos']">Lavado de activos</a>
                </p>
                <p>
                    <a [routerLink]="['servicios','capacitaciones']">Capacitaciones y desarrollo profesional</a>
                </p>
                <p>
                    <a [routerLink]="['servicios','servLegales']">Servicios legales societarios</a>
                </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 p-0">
                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold">CONTACTOS</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px" />
                <p><i class="fas fa-home mr-3"></i> Guayaquil, Guayas, EC</p>
                <p><i class="fas fa-envelope mr-3"></i> info@example.com</p>
                <p><i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
            </div>
            <!-- Grid column -->
        </div>
        <!-- Grid row -->
    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
        © 2021 Copyright: DANDELUG CONSULTORES
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->