<mdb-card style="
    background-image: url('../../../assets/images/default/servicios.jpg'); background-size: cover ; background-repeat: no-repeat;">
    <div class="text-muted text-center py-auto px-4 my-auto">
        <div>
            <h1 class="card-title h1-responsive pt-5 mb-5 mt-5 pb-5 font-bold">
                <strong>Servicios</strong>
            </h1>
        </div>
    </div>
</mdb-card>

<div class="container-xl py-4 flex-center">
    <div class="row col-md-12">
        <!--contable-->
        <div class="col-md-4 pb-3 mx-auto">
            <!-- Card -->
            <mdb-card>
                <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                    <!-- Card img -->
                    <mdb-card-img src="../../../assets/images/servicios/contable.jpg" alt="Card image cap"></mdb-card-img>
                    <a>
                        <div class="mask"></div>
                    </a>
                </div>
                <!--Card content-->
                <mdb-card-body>
                    <!--Title-->
                    <mdb-card-title>
                        <h4>Consultoría contable</h4>
                    </mdb-card-title>

                    <!--Text-->
                    <mdb-card-text>
                        Some quick example text to build on the card title and make up the bulk of the card's content.
                    </mdb-card-text>

                    <a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a>
                </mdb-card-body>
            </mdb-card>
            <!-- Card -->
        </div>

        <!--tributaria-->
        <div class="col-md-4 pb-3 mx-auto">
            <!-- Card -->
            <mdb-card>
                <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                    <!-- Card img -->
                    <mdb-card-img src="../../../assets/images/servicios/tributaria.jpg" alt="Card image cap"></mdb-card-img>
                    <a>
                        <div class="mask"></div>
                    </a>
                </div>
                <!--Card content-->
                <mdb-card-body>
                    <!--Title-->
                    <mdb-card-title>
                        <h4>Consultoría tributaria</h4>
                    </mdb-card-title>

                    <!--Text-->
                    <mdb-card-text>
                        Some quick example text to build on the card title and make up the bulk of the card's content.
                    </mdb-card-text>

                    <a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a>
                </mdb-card-body>
            </mdb-card>
            <!-- Card -->
        </div>

        <!--reingenieria-->
        <div class="col-md-4 pb-3 mx-auto">
            <!-- Card -->
            <mdb-card>
                <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                    <!-- Card img -->
                    <mdb-card-img src="../../../assets/images/servicios/reingenieria.jpeg" alt="Card image cap"></mdb-card-img>
                    <a>
                        <div class="mask"></div>
                    </a>
                </div>
                <!--Card content-->
                <mdb-card-body>
                    <!--Title-->
                    <mdb-card-title>
                        <h4>Reingeniería de costos de producción</h4>
                    </mdb-card-title>

                    <!--Text-->
                    <mdb-card-text>
                        Some quick example text to build on the card title and make up the bulk of the card's content.
                    </mdb-card-text>

                    <a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a>
                </mdb-card-body>
            </mdb-card>
            <!-- Card -->
        </div>

        <!--auditoria-->
        <div class="col-md-4 pb-3 mx-auto">
            <!-- Card -->
            <mdb-card>
                <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                    <!-- Card img -->
                    <mdb-card-img src="../../../assets/images/servicios/auditoria.jpg" alt="Card image cap"></mdb-card-img>
                    <a>
                        <div class="mask"></div>
                    </a>
                </div>
                <!--Card content-->
                <mdb-card-body>
                    <!--Title-->
                    <mdb-card-title>
                        <h4>Auditoría externa e interna</h4>
                    </mdb-card-title>

                    <!--Text-->
                    <mdb-card-text>
                        Some quick example text to build on the card title and make up the bulk of the card's content.
                    </mdb-card-text>

                    <a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a>
                </mdb-card-body>
            </mdb-card>
            <!-- Card -->
        </div>

        <!--evaluaciones financieras-->
        <div class="col-md-4 pb-3 mx-auto">
            <!-- Card -->
            <mdb-card>
                <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                    <!-- Card img -->
                    <mdb-card-img src="../../../assets/images/servicios/evaluaciones.jpg" alt="Card image cap"></mdb-card-img>
                    <a>
                        <div class="mask"></div>
                    </a>
                </div>
                <!--Card content-->
                <mdb-card-body>
                    <!--Title-->
                    <mdb-card-title>
                        <h4>Evaluaciones financieras</h4>
                    </mdb-card-title>

                    <!--Text-->
                    <mdb-card-text>
                        Some quick example text to build on the card title and make up the bulk of the card's content.
                    </mdb-card-text>

                    <a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a>
                </mdb-card-body>
            </mdb-card>
            <!-- Card -->
        </div>

        <!--lavado-->
        <div class="col-md-4 pb-3 mx-auto">
            <!-- Card -->
            <mdb-card>
                <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                    <!-- Card img -->
                    <mdb-card-img src="../../../assets/images/servicios/lavado.jpg" alt="Card image cap"></mdb-card-img>
                    <a>
                        <div class="mask"></div>
                    </a>
                </div>
                <!--Card content-->
                <mdb-card-body>
                    <!--Title-->
                    <mdb-card-title>
                        <h4>Lavado de activos</h4>
                    </mdb-card-title>

                    <!--Text-->
                    <mdb-card-text>
                        Some quick example text to build on the card title and make up the bulk of the card's content.
                    </mdb-card-text>

                    <a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a>
                </mdb-card-body>
            </mdb-card>
            <!-- Card -->
        </div>

        <!--capacitaciones-->
        <div class="col-md-4 pb-3 mx-auto">
            <!-- Card -->
            <mdb-card>
                <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                    <!-- Card img -->
                    <mdb-card-img src="../../../assets/images/servicios/capacitaciones.jpeg" alt="Card image cap"></mdb-card-img>
                    <a>
                        <div class="mask"></div>
                    </a>
                </div>
                <!--Card content-->
                <mdb-card-body>
                    <!--Title-->
                    <mdb-card-title>
                        <h4>Capacitaciones y desarrollo profesional</h4>
                    </mdb-card-title>

                    <!--Text-->
                    <mdb-card-text>
                        Some quick example text to build on the card title and make up the bulk of the card's content.
                    </mdb-card-text>

                    <a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a>
                </mdb-card-body>
            </mdb-card>
            <!-- Card -->
        </div>

        <!--legales-->
        <div class="col-md-4 pb-3 mx-auto">
            <!-- Card -->
            <mdb-card>
                <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                    <!-- Card img -->
                    <mdb-card-img src="../../../assets/images/servicios/legales.jpg" alt="Card image cap"></mdb-card-img>
                    <a>
                        <div class="mask"></div>
                    </a>
                </div>
                <!--Card content-->
                <mdb-card-body>
                    <!--Title-->
                    <mdb-card-title>
                        <h4>Servicios legales societarios</h4>
                    </mdb-card-title>

                    <!--Text-->
                    <mdb-card-text>
                        Some quick example text to build on the card title and make up the bulk of the card's content.
                    </mdb-card-text>

                    <a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a>
                </mdb-card-body>
            </mdb-card>
            <!-- Card -->
        </div>

    </div>
</div>