<mdb-card style="
    background-image: url('../../../assets/images/default/servicios.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  ">
    <div class="mask rgba-black-strong flex-center py-auto px-4 my-auto">
        <div>
            <h1 class="card-title white-text h1-responsive pt-5 mb-5 mt-5 pb-5 font-bold">
                <strong>Servicios</strong>
            </h1>
        </div>
    </div>
</mdb-card>

<div class="container-xl p-4">
    <div class="row">
        <p class="text-justify">
            Dandelug Consultores & Asociados S.A., brinda servicios de calidad para los negocios que buscan mejorar sus controles y ser eficientes con sus recursos, planificando así adecuadamente nuestras actividades, los cuales se reflejan en un apoyo para el cumplimiento
            de sus objetivos, asesorando a los directivos de las compañías para minimizar el riesgo de contingencias legales, es decir, verificar con un grado de seguridad razonable, que la empresa cumple con las normas tributarias, laborales, societarias
            vigentes, sin perjuicio de colaborar en la corrección de criterios utilizados y en la identificación de beneficios legales que puedan ser aplicados mediante programas de control fiscal a los libros contables: Sección Impuestos, Sección Laboral,
            Sección Financiera.
        </p>
        <p class="font-weight-bold">Ofrecemos los siguientes servicios:</p>
    </div>
    <div class="row" style="display: none;">
        <div class="row col-md-12">
            <!--contable-->
            <div class="col-md-4 pb-3 mx-auto">
                <!-- Card -->
                <mdb-card>
                    <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                        <!-- Card img -->
                        <mdb-card-img src="../../../assets/images/servicios/contable.jpg" alt="Card image cap"></mdb-card-img>
                        <a>
                            <div class="mask"></div>
                        </a>
                    </div>
                    <!--Card content-->
                    <mdb-card-body>
                        <!--Title-->
                        <mdb-card-title>
                            <h4>Consultoría contable</h4>
                        </mdb-card-title>

                        <!--Text-->
                        <mdb-card-text>
                            Some quick example text to build on the card title and make up the bulk of the card's content.
                        </mdb-card-text>

                        <a href="#!" class="white-text d-flex justify-content-end">
                            <h5 class="waves-light black-text" mdbWavesEffect>
                                Más Información
                                <span>
                  <mdb-icon
                    fas
                    icon="chevron-right"
                    class="pl-2 waves-light"
                    mdbWavesEffect
                  ></mdb-icon>
                </span>
                            </h5>
                        </a>
                    </mdb-card-body>
                </mdb-card>
                <!-- Card -->
            </div>

            <!--tributaria-->
            <div class="col-md-4 pb-3 mx-auto">
                <!-- Card -->
                <mdb-card>
                    <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                        <!-- Card img -->
                        <mdb-card-img src="../../../assets/images/servicios/tributaria.jpg" alt="Card image cap"></mdb-card-img>
                        <a>
                            <div class="mask"></div>
                        </a>
                    </div>
                    <!--Card content-->
                    <mdb-card-body>
                        <!--Title-->
                        <mdb-card-title>
                            <h4>Consultoría tributaria</h4>
                        </mdb-card-title>

                        <!--Text-->
                        <mdb-card-text>
                            Some quick example text to build on the card title and make up the bulk of the card's content.
                        </mdb-card-text>

                        <a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a>
                    </mdb-card-body>
                </mdb-card>
                <!-- Card -->
            </div>

            <!--reingenieria-->
            <div class="col-md-4 pb-3 mx-auto">
                <!-- Card -->
                <mdb-card>
                    <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                        <!-- Card img -->
                        <mdb-card-img src="../../../assets/images/servicios/reingenieria.jpeg" alt="Card image cap"></mdb-card-img>
                        <a>
                            <div class="mask"></div>
                        </a>
                    </div>
                    <!--Card content-->
                    <mdb-card-body>
                        <!--Title-->
                        <mdb-card-title>
                            <h4>Reingeniería de costos de producción</h4>
                        </mdb-card-title>

                        <!--Text-->
                        <mdb-card-text>
                            Some quick example text to build on the card title and make up the bulk of the card's content.
                        </mdb-card-text>

                        <a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a>
                    </mdb-card-body>
                </mdb-card>
                <!-- Card -->
            </div>

            <!--auditoria-->
            <div class="col-md-4 pb-3 mx-auto">
                <!-- Card -->
                <mdb-card>
                    <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                        <!-- Card img -->
                        <mdb-card-img src="../../../assets/images/servicios/auditoria.jpg" alt="Card image cap"></mdb-card-img>
                        <a>
                            <div class="mask"></div>
                        </a>
                    </div>
                    <!--Card content-->
                    <mdb-card-body>
                        <!--Title-->
                        <mdb-card-title>
                            <h4>Auditoría externa e interna</h4>
                        </mdb-card-title>

                        <!--Text-->
                        <mdb-card-text>
                            Some quick example text to build on the card title and make up the bulk of the card's content.
                        </mdb-card-text>

                        <a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a>
                    </mdb-card-body>
                </mdb-card>
                <!-- Card -->
            </div>

            <!--evaluaciones financieras-->
            <div class="col-md-4 pb-3 mx-auto">
                <!-- Card -->
                <mdb-card>
                    <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                        <!-- Card img -->
                        <mdb-card-img src="../../../assets/images/servicios/evaluaciones.jpg" alt="Card image cap"></mdb-card-img>
                        <a>
                            <div class="mask"></div>
                        </a>
                    </div>
                    <!--Card content-->
                    <mdb-card-body>
                        <!--Title-->
                        <mdb-card-title>
                            <h4>Evaluaciones financieras</h4>
                        </mdb-card-title>

                        <!--Text-->
                        <mdb-card-text>
                            Some quick example text to build on the card title and make up the bulk of the card's content.
                        </mdb-card-text>

                        <a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a>
                    </mdb-card-body>
                </mdb-card>
                <!-- Card -->
            </div>

            <!--lavado-->
            <div class="col-md-4 pb-3 mx-auto">
                <!-- Card -->
                <mdb-card>
                    <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                        <!-- Card img -->
                        <mdb-card-img src="../../../assets/images/servicios/lavado.jpg" alt="Card image cap"></mdb-card-img>
                        <a>
                            <div class="mask"></div>
                        </a>
                    </div>
                    <!--Card content-->
                    <mdb-card-body>
                        <!--Title-->
                        <mdb-card-title>
                            <h4>Lavado de activos</h4>
                        </mdb-card-title>

                        <!--Text-->
                        <mdb-card-text>
                            Some quick example text to build on the card title and make up the bulk of the card's content.
                        </mdb-card-text>

                        <a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a>
                    </mdb-card-body>
                </mdb-card>
                <!-- Card -->
            </div>

            <!--capacitaciones-->
            <div class="col-md-4 pb-3 mx-auto">
                <!-- Card -->
                <mdb-card>
                    <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                        <!-- Card img -->
                        <mdb-card-img src="../../../assets/images/servicios/capacitaciones.jpeg" alt="Card image cap"></mdb-card-img>
                        <a>
                            <div class="mask"></div>
                        </a>
                    </div>
                    <!--Card content-->
                    <mdb-card-body>
                        <!--Title-->
                        <mdb-card-title>
                            <h4>Capacitaciones y desarrollo profesional</h4>
                        </mdb-card-title>

                        <!--Text-->
                        <mdb-card-text>
                            Some quick example text to build on the card title and make up the bulk of the card's content.
                        </mdb-card-text>

                        <a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a>
                    </mdb-card-body>
                </mdb-card>
                <!-- Card -->
            </div>

            <!--legales-->
            <div class="col-md-4 pb-3 mx-auto">
                <!-- Card -->
                <mdb-card>
                    <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                        <!-- Card img -->
                        <mdb-card-img src="../../../assets/images/servicios/legales.jpg" alt="Card image cap"></mdb-card-img>
                        <a>
                            <div class="mask"></div>
                        </a>
                    </div>
                    <!--Card content-->
                    <mdb-card-body>
                        <!--Title-->
                        <mdb-card-title>
                            <h4>Servicios legales societarios</h4>
                        </mdb-card-title>

                        <!--Text-->
                        <mdb-card-text>
                            Some quick example text to build on the card title and make up the bulk of the card's content.
                        </mdb-card-text>

                        <a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a>
                    </mdb-card-body>
                </mdb-card>
                <!-- Card -->
            </div>

        </div>
    </div>

    <div class="row col-md-12 p-0 m-0">
        <div class="col-md-5 pb-3 m-auto" *ngFor="let itemServicio of this.lisServicios">
            <mdb-card style="background-image: url('{{itemServicio.img}}'); background-size:cover;" class="card-image mb-3 mx-3">
                <!-- Content -->
                <div class="text-white text-center d-flex flex-center align-items-center rgba-black-strong py-5 px-4">
                    <div>
                        <h5 class="pink-text text-center" style="display: none;">
                            <mdb-icon fas icon="chart-pie"></mdb-icon>
                            Marketing
                        </h5>
                        <h4 class="card-title pt-3"><strong>{{itemServicio.nombre}}</strong></h4>
                        <a mdbBtn color="blue-grey" class="waves-light" routerLink='{{itemServicio.ruta}}' mdbWavesEffect>
                            <mdb-icon far icon="clone" class="left"></mdb-icon>
                            Saber más
                        </a>
                    </div>
                </div>
                <!-- Content -->
            </mdb-card>
            <!-- Card -->
        </div>
    </div>

</div>