<mdb-card style="
    background-image: url('../../../../assets/images/servicios/legales.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  ">
    <div class="text-muted text-center py-auto px-4 my-auto">
        <div>
            <h1 class="card-title h1-responsive pt-5 mb-5 mt-5 pb-5 font-bold">
                <strong>SERVICIOS LEGALES SOCIETARIOS</strong>
            </h1>
        </div>
    </div>
</mdb-card>

<div class="container-xl p-5 col-sm-8">
    <p>
        Como parte de nuestros servicios integrales, es importante brindar a nuestros clientes la asistencia en materia legal, necesaria para la constitución de compañías, registro de marcas y patentes y demás actividades societarias, con el objetivo de ayudarlos
        a cumplir con todo lo que establece las normativas legales vigentes.
    </p>
</div>