<mdb-card style="
    background-image: url('../../../assets/images/default/nosotros.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  ">
    <div class="mask rgba-black-strong flex-center py-auto px-4 my-auto">
        <div>
            <h1 class="card-title white-text h1-responsive pt-5 mb-5 mt-5 pb-5 font-bold">
                <strong>Acerca de nosotros</strong>
            </h1>
        </div>
    </div>
</mdb-card>

<div class="container-xl p-4">
    <div>
        <p>
            Dandelug Consultores & Asociados S.A., es una firma consultora orientada a brindar sus servicios en el asesoramiento a empresas en las áreas de contabilidad – NIIF, impuestos, finanzas corporativas, auditorías internas y externas, servicios legales societarios
            y capacitaciones de desarrollo profesional, entre otros. Está conformada por un grupo multidisciplinario de profesionales cuya perspectiva se orienta a la transformación de los negocios, coadyuvando al logro de sus objetivos.
        </p>
        <br />
        <p>
            Además, es miembro adherente de la Escuela Internacional de Auditoria y NIIF, que cuenta con más de 60 Firmas de reconocido prestigio internacional de Bolivia, Argentina, Chile, Colombia, Costa Rica, Ecuador, El Salvador, Honduras, Nicaragua, Paraguay,
            Perú, República Dominicana y Venezuela, y con 150 profesionales independientes de diferentes países de la región.
        </p>

        <br /><br />

        <div class="row col-md-12 mx-auto">
            <div class="col-md-5 pb-3 mx-auto">
                <h3 class="text-center py-2">Nuestra filosofía</h3>
                <p>
                    Nos tomaremos el tiempo para entender sus objetivos, y construir la relación correcta con el fin de que deposite su confianza en nosotros. Nuestra filosofía será la comunicación perfecta.
                </p>
            </div>

            <div class="col-md-5 pb-3 mx-auto">
                <h3 class="text-center py-2">Nuestra misión</h3>
                <p>
                    Brindar servicios integrales para los negocios, con un equipo dinámico, joven, competitivo y comprometido en nuestros proyectos, con el fin de brindar confianza, entrega oportuna y de calidad.
                </p>
            </div>

            <div class="col-md-5 pb-3 mx-auto">
                <h3 class="text-center  py-2">Nuestra visión</h3>
                <p>
                    Tenemos la visión de ser reconocidos como especialistas contables y tributarios en el Ecuador a mediano plazo, siendo su Asesor de confianza para la toma de decisiones efectivas.
                </p>
            </div>
        </div>
    </div>
</div>