<mdb-card style="background-image: url('../../../assets/images/default/socios.jpg'); background-size: cover; background-repeat: no-repeat;">
    <div class="text-muted text-center py-auto px-4 my-auto">
        <div>
            <h1 class="card-title h1-responsive pt-5 mb-5 mt-5 pb-5 font-bold">
                <strong>Socios & Asociados</strong>
            </h1>
        </div>
    </div>
</mdb-card>

<div class="container-xl py-4">

    <div class="container">
        <div class="row align-items-center m-auto py-3" *ngFor="let socio of this.listSocios">
            <div class="col-md-4">
                <!-- Grid column -->
                <div class="col-xl-10">
                    <img src="{{socio.img}}" class="img-fluid z-depth-1 rounded-circle" alt="Responsive image" />
                </div>
                <!-- Grid column -->
            </div>
            <div class="col-md-8">
                <!-- Card -->
                <mdb-card>
                    <!--Card content-->
                    <mdb-card-body>
                        <!--Title-->
                        <mdb-card-title>
                            <h4 class="pb-0 mb-0">{{socio.nombre}}</h4>
                            <h5 class="pt-0 mt-0">{{socio.cargo}}</h5>
                        </mdb-card-title>

                        <!--Text-->
                        <mdb-card-text class="text-justify">
                            {{socio.descrip}}
                            <br /><br /> {{socio.experi}}
                        </mdb-card-text>
                    </mdb-card-body>
                </mdb-card>
                <!-- Card -->
            </div>
        </div>
    </div>

</div>