<mdb-card style="background-image: url('../../../assets/images/default/socios.jpg'); background-size: cover; background-repeat: no-repeat;">
    <div class="text-muted text-center py-auto px-4 my-auto">
        <div>
            <h1 class="card-title h1-responsive pt-5 mb-5 mt-5 pb-5 font-bold">
                <strong>Socios & Asociados</strong>
            </h1>
        </div>
    </div>
</mdb-card>

<div class="container-xl pt-4">
    <div class="row col-md-12 mx-auto pb-4">
        <div class="col-md-4">
            <!-- Grid column -->
            <div class="col-xl-10 mb-3 flex-center">
                <img src="../../../assets/images/socios/CEO.png" class="img-fluid z-depth-1 rounded-circle" alt="Responsive image" />
            </div>
            <!-- Grid column -->
        </div>
        <div class="col-md-8">
            <!-- Card -->
            <mdb-card>
                <!--Card content-->
                <mdb-card-body>
                    <!--Title-->
                    <mdb-card-title>
                        <h4 class="pb-0 mb-0">Danny H. Delgado Lugmaña</h4>
                        <h5 class="pt-0 mt-0">Socio Fundador</h5>
                    </mdb-card-title>

                    <!--Text-->
                    <mdb-card-text class="text-justify">
                        Dirige la práctica corporativa y transaccional de la firma y se dedica principalmente asesorar a nuestros clientes en asuntos contables, tributarios y financieros. Gran parte de su experiencia profesional está relacionada con la contabilidad de Grandes
                        Grupos Económicos y Pymes, especialmente en sectores agrícola, acuícola, industrial, comercial y de servicios.
                        <br /><br /> Cuenta con Maestría en Contabilidad y Finanzas (c) (ESAI – UEES); Ingeniero en Contabilidad y Auditoría – CPA Universidad Laica Vicente Rocafuerte de Guayaquil; Programa de Perito Tributario Avanzado (UEES); Diplomado
                        en NIIF (ESAI – UEES); Certificado Internacional en NIIF para las PyMEs en Escuela Internacional de Auditoría y NIIF (EIAN) Santa Cruz de la Sierra – Bolivia; Certificado Internacional en NIA en la Asociación Interamericana de
                        Contabilidad (AIC), más la suma de cientos de horas en cursos de diversas ramas dentro y fuera del país.
                    </mdb-card-text>
                </mdb-card-body>
            </mdb-card>
            <!-- Card -->
        </div>
    </div>

    <div class="row col-md-12 mx-auto pb-4">
        <div class="col-md-4">
            <!-- Grid column -->
            <div class="col-xl-10 mb-3 flex-center">
                <img src="../../../assets/images/socios/danielaLaborde.png" class="img-fluid z-depth-1 rounded-circle" alt="Responsive image" />
            </div>
            <!-- Grid column -->
        </div>
        <div class="col-md-8">
            <!-- Card -->
            <mdb-card>
                <!--Card content-->
                <mdb-card-body>
                    <!--Title-->
                    <mdb-card-title>
                        <h4 class="pb-0 mb-0">Daniela Laborde Torres</h4>
                        <h5 class="pt-0 mt-0">Asociada</h5>
                    </mdb-card-title>

                    <!--Text-->
                    <mdb-card-text class="text-justify">
                        Cuenta con la experiencia y experticia en las áreas de auditoría externa e interna, durante su trayectoria profesional ha participado en Auditorías Financieras y Tributarias, Diseño e implementación de políticas y procedimientos, Evaluación del control
                        interno, Análisis y prevención de riesgos, Diseño de matrices de riesgos, Informe de prevención de lavado de activos, Diseño de Manuales de prevención de lavado de activos e Informes de procedimientos previamente convenidos.
                        <br /><br /> Cuenta con Maestría en Alta Dirección de la Universidad Rey Juan Carlos (España); Ingeniera en Contabilidad y Auditoría de la Universidad Laica Vicente Rocafuerte de Guayaquil; Certificada en Auditoría Internacional
                        por el ACCA; Auditora externa calificada por la Superintendencia de Compañías, Valores y Seguros; Certificación en ISO 31000 Risk Manager.
                    </mdb-card-text>
                </mdb-card-body>
            </mdb-card>
            <!-- Card -->
        </div>
    </div>

    <div class="row col-md-12 mx-auto pb-4">
        <div class="col-md-4">
            <!-- Grid column -->
            <div class="col-xl-10 mb-3 flex-center">
                <img src="../../../assets/images/socios/RicardoCevallos.png" class="img-fluid z-depth-1 rounded-circle" alt="Responsive image" />
            </div>
            <!-- Grid column -->
        </div>
        <div class="col-md-8">
            <!-- Card -->
            <mdb-card>
                <!--Card content-->
                <mdb-card-body>
                    <!--Title-->
                    <mdb-card-title>
                        <h4 class="pb-0 mb-0">Ricardo Cevallos Albornoz</h4>
                        <h5 class="pt-0 mt-0">Asociado</h5>
                    </mdb-card-title>

                    <!--Text-->
                    <mdb-card-text class="text-justify">
                        Profesional experto en costos, su trayectoria profesional se encuentra relacionada con compañías del sector industrial agrícola y sus derivados, camaronera y electrónica, participando en actividades de Auditoría de Costos, Gestión y Control de la Producción,
                        Implementación de Sistemas de Costeo por Procesos y Ordenes de Trabajo, Análisis de Costos Unitarios, Determinación de Costos Estándares, Formulación y Evaluación de proyectos de inversión, Elaboración y Control de Presupuestos,
                        Reingeniería de Procesos y Análisis de Precios.
                        <br /><br /> Cuenta con Maestría en Finanzas y Economía empresarial en la Universidad Católica Santiago de Guayaquil; Ingeniero en Contabilidad y Auditoría, Universidad Católica de Santiago de Guayaquil; Economista en la Universidad
                        de Guayaquil.
                    </mdb-card-text>
                </mdb-card-body>
            </mdb-card>
            <!-- Card -->
        </div>
    </div>

    <div class="row col-md-12 mx-auto pb-4">
        <div class="col-md-4">
            <!-- Grid column -->
            <div class="col-xl-10 mb-3 flex-center">
                <img src="../../../assets/images/socios/DionicioTigua.png" class="img-fluid z-depth-1 rounded-circle" alt="Responsive image" />
            </div>
            <!-- Grid column -->
        </div>
        <div class="col-md-8">
            <!-- Card -->
            <mdb-card>
                <!--Card content-->
                <mdb-card-body>
                    <!--Title-->
                    <mdb-card-title>
                        <h4 class="pb-0 mb-0">Dionicio Tigua Lucas</h4>
                        <h5 class="pt-0 mt-0">Asociado</h5>
                    </mdb-card-title>

                    <!--Text-->
                    <mdb-card-text class="text-justify">
                        Admitido en la práctica de la abogacía en Ecuador desde el año 2009. Gran parte de su ejercicio profesional lo ha dedicado a la Asesoría Jurídica Societaria y en Propiedad Intelectual, para diversas compañías de ámbito privado.

                        <br /><br /> Cuenta con estudios de Abogado de los Tribunales y Juzgados de la República Ecuador, en la Universidad de Guayaquil; Certificación en Derechos Humanos y Derecho Ambiental por la Universidad de Guayaquil, Certificación
                        en Ciencias Penales y Criminología en el Instituto Latinoamericano.
                    </mdb-card-text>
                </mdb-card-body>
            </mdb-card>
            <!-- Card -->
        </div>
    </div>
</div>