<mdb-card style="
    background-image: url('../../../../assets/images/servicios/capacitaciones.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
  ">
    <div class="text-muted text-center py-auto px-4 my-auto">
        <div>
            <h1 class="card-title h1-responsive pt-5 mb-5 mt-5 pb-5 font-bold">
                <strong>CAPACITACIONES Y DESARROLLO PROFESIONAL:</strong>
            </h1>
        </div>
    </div>
</mdb-card>

<div class="container-xl p-5 col-sm-8">
    <p>
        Las capacitaciones son la clave esencial para el desarrollo de nuestros profesionales, para entregar productos de calidad y que la Administración tome decisiones acertadas.
    </p>
    <br/>
    <p>
        Desarrollamos capacitaciones en diferentes ámbitos, de los cuales podemos mencionar: Contabilidad, NIIF, Auditoría, Excel, Finanzas, Impuestos, Costos, entre otros.
    </p>
    <br/>
    <p>
        Nuestras capacitaciones o seminarios son In House o al público en general.
    </p>
</div>