<mdb-card style="
    background-image: url('../../../../assets/images/servicios/lavado.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  ">
    <div class="text-muted text-center py-auto px-4 my-auto">
        <div>
            <h1 class="card-title h1-responsive pt-5 mb-5 mt-5 pb-5 font-bold">
                <strong>LAVADO DE ACTIVOS</strong>
            </h1>
        </div>
    </div>
</mdb-card>

<div class="container-xl p-5 col-sm-8">
    <p>
        De acuerdo a la normativa, negocios fiduciarios, inmobiliarias, concesionarias, entre otras, deben implementar procedimientos para prevenir el lavado de activos y el financiamiento de delitos.
    </p>

    <br />

    <li class="pb-2">
        <b class="font-weight-bold">Metodología para determinar la matriz de riesgo:</b
    >la normativa exige establecer los parámetros para medir el riesgo, lo cual
    servirá de alerta para la Compañía.
  </li>
  <li class="pb-2">
    <b class="font-weight-bold">Debida diligencia:</b>la norma exige y debe estar establecido en el manual de políticas para prevenir el lavado de activos, los parámetros para realizar la debida diligencia para clientes, proveedores, empleados
        y del mercado, y su actualización anual.
    </li>
    <li class="pb-2">
        <b class="font-weight-bold">Manuales:</b>la normativa vigente exige mantener las políticas que mitigan el lavado de activos y el financiamiento de delitos, el cual debe ser aprobado por la Junta de Accionistas o Socios.
    </li>
</div>