<mdb-card style="
    background-image: url('../../../../assets/images/servicios/auditoria.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  ">
    <div class="text-muted text-center py-auto px-4 my-auto">
        <div>
            <h1 class="card-title h1-responsive pt-5 mb-5 mt-5 pb-5 font-bold">
                <strong>CONSULTORÍA TRIBUTARIA</strong>
            </h1>
        </div>
    </div>
</mdb-card>

<div class="container-xl p-5 col-sm-8">
    <p>
        La planificación es importante para identificar riesgos y diseñar controles efectivos, por ende, una revisión periódica es la clave para generar valor y evitar contingentes.
    </p>
    <br />
    <p>
        Ofrecemos nuestra experiencia tributaria, con el objeto de evaluar la situación tributaria de la Empresa, y recomendar la forma de mejorar las prácticas empresariales. Nuestro programa de revisión puede diseñarse de acuerdo a las necesidades solicitadas
        para cada empresa, es decir mensual, bimensual, trimestral u otra forma que se determine.
    </p>
    <br />

    <li class="pb-2">
        <b class="font-weight-bold">Revisión de procesos tributarios:</b>Revisión de los procesos de control interno tributarios establecidos, Identificación de procesos no implementados, Documentación de los procesos (requerimiento), Identificación de
        riesgos y controles internos, Auditoría de controles internos y procesos tributarios (en periodos futuros).
    </li>

    <li class="pb-2">
        <b class="font-weight-bold">Control de impuestos:</b>Revisión y validación de las obligaciones tributarias mensuales que la compañía o sus accionistas deban cumplir frente a la Administración Tributaria, tales como la preparación de las declaraciones
        impositivas mensuales, en materia de: Declaración del IVA, Declaración de retenciones en la fuente, Impuesto a la Renta Anual, Anexos de Gastos Personales, Anexos de cumplimiento tributario, Declaración Patrimonial, entre otros anexos.
    </li>

    <li class="pb-2">
        <b class="font-weight-bold">Planificación tributaria</b>Este servicio continuo de asesoría se concretará en la absolución de consultas verbales y/o escritas, relativas a todos aquellos aspectos de índole tributaria que sean de interés para la
        compañía.
        <br/> Analizar las distintas opciones de conformidad con la legislación ecuatoriana, para optimizar la carga impositiva y obligaciones frente a la Administración Tributaria.
        <br/> Elaboración, y presentación de Reclamos Administrativos, para recuperación del IVA, Impuesto a la Renta e ISD.
    </li>
</div>