<mdb-card style="
    background-image: url('../../../../assets/images/servicios/reingenieria.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
  ">
    <div class="mask rgba-black-strong flex-center py-auto px-4 my-auto">
        <div>
            <h1 class="card-title white-text h1-responsive pt-5 mb-5 mt-5 pb-5 font-bold">
                <strong>REINGENIERÍA DE COSTOS DE PRODUCCIÓN</strong>
            </h1>
        </div>
    </div>
</mdb-card>

<div class="container-xl p-5 col-sm-8">
    Realizamos la reingeniería e implementación de Costos de Producción de acuerdo a la actividad de su negocio y evaluamos cada uno de los procesos y procedimientos internos, con la finalidad de obtener el correcto margen de contribución operacional.
</div>